@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Автосолон КЗ</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Купи автомобиль своей мечты</h1>
            <p class="lead">
                <img src="https://media.autoexpress.co.uk/image/private/s---NiylHXf--/v1589985399/autoexpress/2020/05/Audi%20A8%20TFSI%20e%20UK%202020-4.jpg" alt="Alternate Text" width="450px" />
            </p>
        </div>
    </div>
</div>
